%% Placeholder cover letter Jinja template
%% Replace with actual template

\documentclass[11pt]{article}
\usepackage[empty]{fullpage}

\begin{document}

<# Cover letter content goes here #>

\end{document}
